@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;

    color: var(--Azulacinzentado);
    text-align: center;
}



:root{
--CianoForte: hsl(171, 66%, 44%);
--Azulclaro: hsl(233, 100%, 69%);

--Azulacinzentadoescuro: hsl(210, 10%, 33%);
--Azulacinzentado: hsl(201, 11%, 66%);
}

#clipboard-fundo-desktop{
    display: none;
}

#clipboard-fundo-mobile{
    display: block;
}

.clipboard-fundo{
    position: absolute;
    width: 100%;
    height: 500px;
}

main{  
    margin: auto;
    width: 430px;
    box-sizing: border-box;

    padding: 120px 34px ;
}

img#clipboard-icon{
    margin-bottom: 60px;
}

h1,h2,h3{
    font-weight: 600;
    color: var(--Azulacinzentadoescuro);
}

h1{
    font-size: 2em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

section p{
    color: var(--Azulacinzentado);
    margin: 20px 5px;
    font-weight: 400;
    line-height: 30px;

}

section{
    margin-bottom: 80px;
}

button{
    display: block;
    margin: auto;
    
    height: 60px;
    width: 100%;
    border-radius: 45px;

    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 0px 3px 2px ;
}

button:hover{
    opacity: 80%;
    transition-duration: .5s;
    cursor: pointer;
}

.grid-container1{
    display: grid;
    justify-content: center;
}

.grid-container2{
    display: grid;
    justify-content: center;
}

.icones-svg{
    margin: 40px 0px;
}

.logo-empresas{
    margin: auto;
    display: block;
    margin-bottom: 60px;
}

#google{
    margin-top: 150px;
}


#ios{
    background: var(--CianoForte);
    margin-top: 50px;
    margin-bottom: 30px;


    box-shadow: 0px 3px 0px hsl(171, 57%, 39%);;
}

#mac{

    box-shadow: 0px 3px 0px hsl(233, 60%, 58%);
    background-color: var(--Azulclaro);
    
}

.clipboard-dispositivos{
    width: 360px;
    margin: 50px 0px;
}

footer{
    background-color: hsla(202, 11%, 66%, 0.164);
    width: 100%;
    margin: auto;

  
    box-sizing: border-box;
    
    padding: 60px 80px;
}

#logo-do-footer{
    width: 60px;
}

.opcoes{
    display: flex;
    flex-direction: column;
    gap: 30px;

    justify-content: center;
    align-items: center;
    text-decoration: none;

    margin-bottom: 50px;
}

#logo-do-footer{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.opcoes a{
    text-decoration: none;
    font-weight: 400;
    color: var(--Azulacinzentadoescuro);
}

.opcoes a:hover{
    color: var(--CianoForte);
    transition-duration: .5s;

}

footer > ul a{
    font-weight: 400;
    text-decoration: none;
    color: var(--Azulacinzentadoescuro);
}

footer ul li a:hover{
    color: var(--CianoForte);
    transition-duration: .5s;
}


#redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}

.social-icon:hover{
    fill: var(--CianoForte);
    transition-duration: .2s;
}